<div ng-controller="FooterCtrlr" class=" w3-container pad_0" ng-init="">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top_75 border_1px">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad_top_15 border_1px">
		<span class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pad_right_left_50 font_size_20 border_1px">"A great business at a fair price is superior to a fair business at a great price"<br>
			<span class="font_size_17 float_right">- Charlie Munger</span>
		</span>
		<span class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border_1px">
			<span class="font_size_17">To start a great business</span><br>
			<span class="font_size_20">Email Us : sairamnallaiahraj@gmail.com</span>
		</span>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border_1px">
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 border_1px">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pad_left_70 pad_top_bottom_20 border_1px">
				<p>About Us</p>
				<p>Enquiry</p>
				<p>Feedback</p>
				<p>Privacy Policy</p>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pad_left_70 pad_top_bottom_20 border_1px">
				<p>Contact</p>
				<p>FAQ</p>
				<p>Help</p>
				<p>Terms of Use</p>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pad_left_70 border_1px">
				<h4>Connect Us</h4>
				<p>Facebook</p>
				<p>Twitter</p>
				<p>LinkedIn</p>
				<p>Google Plus</p>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 border_1px">
sdasda
		</div>
	</div>
</div>
</div>