<div ng-controller="NavbarCtrlr" class=" w3-container pad_0" ng-init="">
	<!-- <div class="w3-container pad_0 bgimg_home"> -->
		<!-- <div class="w3-container pad_top_bottom_40 height_650 pad_0 slideSection border_1px"> -->
			<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center border_1px"> -->
				<!-- <span class="font_white font_size_30">"A great business at a fair price is<br/>
					superior to a fair business at a great<br/>
					<price"</span><br/> -->
					<!-- <span>A customer is the most important visitor on our premises. He is not dependent on us. We are dependent on him. He is not an interruption in our work. He is the purpose of it. He is not an outsider in our business. He is part of it. We are not doing him a favor by serving him. He is doing us a favor by giving us an opportunity to do so.</span> -->
				<!-- <span class="font_white font_size_25">- Charlie Munger -</span> -->
				<!-- <span class="font_white font_size_25">- Mahatma Gandhi -</span>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center border_1px">
				
			</div> -->
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sticky_head"></div>
		<nav class="col-xs-12 col-sm-12 col-md-12 col-lg-12 navbar navbar-default header_navbar header_strink margin_0">
		  <div class="container-fluid">
		    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 navbar-header">
		      <a class="navbar-brand" href="home">Online Tutorial</a>
		    </div>
		    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
		    	<ul class="nav navbar-nav float_right font_black">
			      <li><a href="">Hi Amitabha Dey!!</a></li>
			      <li><a href="" ng-click="signOut()">Sign Out</a></li>
			    <!--   <li><a href="#">Page 2</a></li>
			      <li><a href="#">Page 3</a></li> -->
			    </ul>
		    </div>
		    
		  </div>
		</nav>
	<!-- </div> -->
	
<!-- </div> -->
</div>
