<div ng-controller="StudentDetailCtrlr" ng-init="stuDetInit()">
	<!-- class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top_75 margin_bottom_50" -->
	<div class="col-sm-3 col-md-3 col-lg-3 font_size_20 border_1px"></div> 
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 font_size_20 subscribe_box border_1px" id="sticky_new">
		<div ng-include="'views/navigator.html'"></div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sticky_anchor"></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_top_10 margin_bottom_100">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 stud_leftpane pad_top_10 border_1px">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center font_white font_bold font_size_26 margin_bottom_10 text_underline">STUDENT LIST</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topic_left_pane margin_bottom_5 font_lobster border_rad_10 font_size_30 border_1px" ng-click="showDet()"><span class="font_size_20 font_black  fas fa-thumbtack"></span>  John</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topic_left_pane margin_bottom_5 font_lobster border_rad_10 font_size_30 border_1px"><span class="font_size_20 font_black  fas fa-thumbtack"></span>  David</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topic_left_pane margin_bottom_5 font_lobster border_rad_10 font_size_30 border_1px"><span class="font_size_20 font_black  fas fa-thumbtack"></span>  Raja</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topic_left_pane margin_bottom_5 font_lobster border_rad_10 font_size_30 border_1px"><span class="font_size_20 font_black  fas fa-thumbtack"></span>  Kris</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 bg_009688 border_rad_5 border_1px">
			<div >
				<h3 class="text-center text_underline">Student Management Page</h3>
				<div ng-hide="show1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 font_size_30 text-center font_white"> Click a student name to view details</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center margin_bottom_10 border_1px">
					<button ng-hide="createStudBtn" ng-click="createStudent()" class = "sub_btn border_none font_size_20">Add New Student</button>
				</div>
				<div ng-show="show" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 font_white">
					<h4 class="text_underline">Student Details</h4>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Name</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="first_name " type="text" class="validate" value="John">
          					<label for="first_name" class="pad_left_15">First Name</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Last Name</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="Second_name" type="text" class="validate" value="Doe" autocomplete='off'>
          						<label for="Second_name" class="pad_left_15">Last Name</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Date of Birth</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="start_date" type="text" class="datepicker" value="Aug 07, 1993">
							<label for="start_date" class="pad_left_15">Date of Birth</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Email Id</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="user_id" type="text" class="validate" value="johndoe@gmail.com" autocomplete='off'>
          						<label for="user_id" class="pad_left_15">Email Id</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">User Id</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="user_id" type="text" class="validate" value="johndoe@gmail.com" autocomplete='off'>
          						<label for="user_id" class="pad_left_15">User Id</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Course</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="course" type="text" class="validate" value="JEE Mains" autocomplete='off'>
          						<label for="course" class="pad_left_15">Course</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Session Start</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="start_date" type="text" class="datepicker" value="Aug 07, 2018">
							<label for="start_date" class="pad_left_15">Start Date</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Session End</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="end_date" type="text" class="datepicker" value="Aug 23, 2018">
							<label for="end_date" class="pad_left_15">End Date</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Student Type</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<select id="selectStudType"  class="red-text">
								<option value="0" disabled selected>Select Type</option>
								<option value="1">Regular</option>
								<option value="2">Short Term</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border_1px"></div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center margin_bottom_10 border_1px">
						<button ng-click="activate = !activate" class = "width_60p border_none border_rad_10 font_size_20 pad_0 font_black">
							<div ng-if="!activate" class="button btn-info" ng-click="activateStudent()">Activate</div>
							<div ng-if="activate" class="button btn-danger" ng-click="deactivateStudent()">Deactivate</div>
						</button>

					</div>
				</div>
				<div ng-show="addStud" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 font_white">
					<h4 class="text_underline">Enter Student Details</h4>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Name</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="first_name " type="text" class="validate" ng-model="firstName" value="">
          					<label for="firstName" class="pad_left_15">First Name</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Last Name</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="last_name" type="text" class="validate" ng-model="lastName" value="" autocomplete='off'>
          						<label for="last_name" class="pad_left_15">Last Name</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Sex</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<select id="selectSex" class="red-text">
								<option value="0" disabled selected>Select Type</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="transgender">Transgender</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Date of Birth</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="dob2" type="text" class="datepicker" value="">
							<label for="dob2" class="pad_left_15">Date of Birth</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Email Id</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="email_id" type="text" class="validate" value="" ng-model="emailId" autocomplete='off'>
          						<label for="email_id" class="pad_left_15">Email Id</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">User Id</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="user_id" type="text" class="validate" value="" ng-model="userId" autocomplete='off'>
          						<label for="user_id" class="pad_left_15">User Id</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Course</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="course" type="text" class="validate" value="" ng-model="course" autocomplete='off'>
          						<label for="course" class="pad_left_15">Course</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Session Start</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="sta_date" type="text" class="datepicker" value="">
							<label for="sta_date" class="pad_left_15">Start Date</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Session End</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="input-field col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<input id="e_date" type="text" class="datepicker" value="">
							<label for="e_date" class="pad_left_15">End Date</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 font_size_20 border_1px">Student Type</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border_1px">:</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 font_white border_1px">
							<select id="selectStuType" ng-model="studType" class="red-text">
								<option value="0" disabled selected>Select Type</option>
								<option value="regular">Regular</option>
								<option value="short_term">Short Term</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border_1px"></div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center margin_bottom_10 border_1px">
						<button ng-click="" class = "width_60p border_none border_rad_10 font_size_20 pad_0 font_black">
							<div class="button btn-info" ng-click="addStudent()">Add Student</div>
							<!-- <div ng-if="activate" class="button btn-danger" ng-click="deactivateStudent()">Deactivate</div> -->
						</button>

					</div>
				</div>
			</div>
		</div>
	</div>
<!-- <div ng-controller="FooterCtrlr" class=" w3-container pad_0 footer" ng-init="">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center font_Courgette bg_3300ff96 font_white border_1px">
		<h3 class="margin_5">Powered by Puriosa</h3>
		</div>
</div> -->
</div>

 <script src="lib/materialize/materialize.min.js"></script>

<!-- Materialize.updateTextFields(); -->
