<div ng-controller="StudentNavigateCtrlr" class=" w3-container pad_0" ng-init="">
	<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 font_size_20 subscribe_box border_1px" id="sticky_new"> -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 home_button text-center border_rad_5 border_1px" ng-click="viewHome()">Home</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 home_button text-center border_rad_5 border_1px" ng-click="viewTopic()">Topic</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 home_button text-center border_rad_5 border_1px" ng-click="viewStudTest()">Test</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 home_button text-center border_rad_5 border_1px" ng-click="viewStudProfile()">Profile</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 home_button text-center border_rad_5 border_1px" ng-click="viewStudPerformance()">Performance</div>
		<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sticky_anchor"></div> -->
	<!-- </div> -->
</div>