<div ng-include="'views/student/studentNavbar.html'"></div>

<div ng-controller="StudentPageCtrlr" class=""  ng-init="" >
	
	<div class="w3-container pad_0 stud_home_container">
		<div class="w3-container pad_top_bottom_40 height_650 pad_0 slideSection border_1px">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center border_1px" id="">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated tada">Hi Vishnu</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center border_1px">
				
			</div>
		</div>
	</div>
		<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sticky_anchor"></div> -->

</div>