<div ng-controller="StudentNavbarCtrlr" class=" w3-container pad_0" ng-init="">
		
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sticky_head"></div>
	<nav class="col-xs-12 col-sm-12 col-md-12 col-lg-12 navbar navbar-default header_navbar header_strink margin_0" id="sticky_header">
	  <div class="container-fluid">
	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 navbar-header ">
	      	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">Topics</div>
	    	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">Articles</div>
	    	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">News</div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center font_size_28 navbar-header ">
	      Online Tutorial
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-right">
	    	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3"></div>
	    	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">Contact Us</div>
	    	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">About Us</div>
	    	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-1 pad_top_17"><i class="fas fa-user"></i></div>
	    </div>
	    
	  </div>
	</nav>
</div>